.banner {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  /* main content */
  
  .intro {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
   
  }
  
  .intro h1{
    font-weight: bold;
  }
  
  ul {
    list-style-type: none; 
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black; 
    text-align: center;
    padding: 14px 16px; 
    text-decoration: none;
    font-size: 20px;
  
    @media (max-width: 768px) {
      font-size: 14px; /* Adjust the font size for smaller screens */
      padding: 10px; /* Adjust the padding for smaller screens */
    }
  }
  
  /* Change color on hover */
  li a:hover {
    background-color: black;
    color: white;
  }
  
  /* top products css */
  .row{
    margin-top: 100px;
  }
  
  
  #shop-now-button{
    width: 150px;
    height: 40px;
    background: transparent;
    border: 1px solid black;
    letter-spacing: 2px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s ease;
  }
  
  #shop-now-button:hover{
    background-color: black;
  }
  
  #top-product-button{
    text-align: center;
    width: 150px;
    height: 40px;
    background: transparent;
    border: 1px solid black;
    cursor: pointer;
    transition: 0.5s ease;
  }
  
  #top-product-button:hover{
    background-color: black;
  }
  
  .card {
    height: 500px;
  }