/* Navbar css */
  ul {
  list-style-type: none; 
  margin: 0;
  padding: 0;
  overflow: hidden;
  }

  li {
  float: left;
  }

  li a {
  display: block;
  color: black; 
  text-align: center;
  padding: 14px 16px; 
  text-decoration: none;
  font-size: 20px;

  @media (max-width: 768px) {
    font-size: 20px; 
    padding: 10px; 
  }
  }

/* main content */
  .banner {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .intro {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
   
  }
  
  .intro h1{
    font-weight: bold;
  }

  #shop-now-button{
    width: 150px;
    height: 40px;
    background: transparent;
    border: 1px solid black;
    letter-spacing: 2px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s ease;
  }
  
  #shop-now-button:hover{
    background-color: black;
  }  
  
/* Change color on hover */
  li a:hover {
    background-color: black;
    color: white;
  }
  
/* top products css */
  #top-product{
  max-width: 100%;
  }

  .row{
    margin-top: 50px;
  }

  #home-card {
    height: 80vh;
  }

  #home-card-img{
    height: 500px;
  }

  #top-product-button{
    text-align: center;
    width: 150px;
    height: 40px;
    background: transparent;
    border: 1px solid black;
    cursor: pointer;
    transition: 0.5s ease;
  }
  
  #top-product-button:hover{
    background-color: black;
  }
  
/* service css */
  #services-offer{
    max-width: 100%;
  }
